* {
  box-sizing: border-box;
}

html {
  font-family: "Oswald", sans-serif;
}

body {
  margin: 0;
  background-color: #1d1d1d;
}

button:focus {
  outline: none;
}

header {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem;
  background: #2b2b2b;
}

header h1 {
  margin: 0;
  color: #f67722;
  font-size: 2rem;
  font-weight: 500;
}

header button {
  font: inherit;
  font-weight: 400;
  padding: 0.5rem 1rem;
  background: #f67722;
  border: 1px solid #f67722;
  color: rgb(41, 41, 41);
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

header button:hover,
header button:active {
  background: #000000;
  border-color: #000000;
  color: #f67722;
  box-shadow: 0px 1px 1px #ff6600;
}

label {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0.5rem 0;
  color: #f67722;
}

input {
  background-color: #363636;
  font: inherit;
  border: 1px solid #555555;
  padding: 0.4rem 0.2rem;
  color: #ffae00;
  border-radius: 0.5rem;
}

input:focus {
  outline: none;
  background: rgb(31, 31, 31);
}

.btn {
  font-style: inherit;
  font-size: 1.25rem;
  padding: 0.5rem 1.5rem;
  border: 1px solid #f67722;
  background: #f67722;
  color: rgb(31, 31, 31);
  border-radius: 8px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.158);
  cursor: pointer;
  margin: 0 0.5rem;
}

.btn:hover,
.btn:active {
  background: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
  color: #f67722;
}

.btn--passive {
  color: #f67722;
  background: transparent;
  border: none;
  box-shadow: none;
}

.btn--passive:hover,
.btn--passive:active {
  background: #f67722;
  color: #000000;
}

.btn--danger {
  background: #ffae00;
  color: black;
  border-color: #ffae00;
}

.btn--danger:hover,
.btn--danger:active {
  color: #ffae00;
  background: #000000;
  border-color: #000000;
}

.modal {
  position: fixed;
  z-index: 100;
  background: #2b2b2b;
  border-radius: 10px;
  width: 80%;
  top: 30vh;
  left: 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: none;
}

.modal.visible {
  display: block;
  animation: fade-slide-in 0.3s ease-out forwards;
}

.modal .modal__title {
  margin: 0;
  padding: 1rem;
  border-bottom: 1px solid #f67722;
  background: #f67722;
  color: #000000;
  border-radius: 10px 10px 0 0;
}

.modal .modal__content {
  padding: 1rem;
  color: #f67722;
}

.modal .modal__actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.movie-element {
  margin: 1rem 0;
  background-color: #363636;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  display: flex;
}

.movie-element h2,
.movie-element p {
  font-size: 1.25rem;
  margin: 0;
}

.movie-element h2 {
  color: #ffae00;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.movie-element p {
  color: rgb(0, 0, 0);
  display: inline;
  background: #f67722;
  padding: 0.25rem 1rem;
  border-radius: 15px;
}

.movie-element__image {
  flex: 1;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
}

.movie-element__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.movie-element__info {
  flex: 2;
  padding: 1rem;
}

.card {
  font-weight: 200;
  color: #ffae00;
  background: #363636;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

#entry-text {
  width: 40rem;
  margin: 2rem auto;
  max-width: 80%;
  padding: 1rem;
}

#entry-text p {
  font-size: 1.5rem;
  text-align: center;
}

#movie-list {
  list-style: none;
  width: 40rem;
  max-width: 90%;
  margin: 1rem auto;
  padding: 0;
}

#backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
  pointer-events: none;
  display: none;
}

#backdrop.visible {
  display: block;
  pointer-events: all;
}

#add-modal .modal__content {
  display: flex;
  flex-direction: column;
}

p.rating {
  padding-top: 4px;
  font-size: 1.5rem;
}

.star {
  display: inline-block;
  margin-left: 3px;
  height: 1.3rem;
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@keyframes fade-slide-in {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(2rem);
  }
}
